@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html {
  min-width: 576px; }

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff !important; }

ul {
  list-style: none; }

a {
  color: #000; }

.bg-primary {
  background-color: #f72210 !important; }

.bg-white {
  color: #f72210 !important; }

.weather-country {
  font-size: 0.85em;
  font-weight: 700;
  line-height: 2; }

.weather-icon {
  width: 1rem;
  height: 1rem; }

.nav-title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.5em; }

.li-login,
.li-subscribe {
  font-size: 0.8em; }

.login-arrow {
  width: 0.7em;
  height: 0.7em; }

.header-bottom::before {
  display: none; }

.header-bottom {
  width: 50%;
  align-self: end; }

.form-control {
  font-family: FontAwesome, sans-serif;
  width: 10em; }

@media (min-width: 400px) {
  .d-sm-none {
    display: none; } }

@media screen and (min-width: 992px) {
  .weather-country {
    font-size: 0.85em;
    font-weight: 700;
    line-height: 2; }
  .weather-icon {
    width: 1rem;
    height: 1rem; }
  .login-arrow {
    width: 1em;
    height: 1em; }
  .nav-title {
    font-family: "Roboto Slab", sans-serif;
    font-size: 3.5em; }
  .header-bottom::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 100px;
    background-color: #f72210 !important;
    border-left: 12px solid #fff;
    border-top: 13px solid #f72210 !important; }
  .header-bottom {
    width: 100%; } }
